<header>
  <div class="section-wrap">
    <div class="section">
      <h1>Blockchain United</h1>
      <a class="link easing">
        <i class="fa fa-code"></i> IDE
      </a>
      <a class="link easing">
        <i class="fa fa-paper-plane"></i> Testing
      </a>
      <a class="link easing">
        <i class="fa fa-search"></i> Explorer
      </a>
    </div>
    <div class="section">
      <a class="link easing">
        <i class="fa fa-cog"></i>
      </a>
    </div>
  </div>
</header>
<router-outlet></router-outlet>
